Repository The-Loqui-Project/Loqui, pull requests merged in 2025-05, with the labels that each got.

#133 ci: dependabot labels
  .github/dependabot.yml
Labels: type/enhancement, type/ci

#131 feat(web): ✨ Add a user profile dropdown and overhaul navbar
  apps/web/components/homepage/navbar.tsx
Labels: type/enhancement, app/web

#138 fix(web): :bento: Fix random colored pixels in the icon files
  apps/web/app/android-chrome-192x192.png
  apps/web/app/apple-touch-icon.png
  apps/web/app/favicon-16x16.png
  apps/web/app/favicon-32x32.png
  apps/web/app/favicon.ico
Labels: type/bug, app/web, status/merge

#140 docs(readme): Update README.md
  .github/workflows/build_and_publish_image.yml
  .github/workflows/build_api.yml
  .github/workflows/build_web.yml
  README.md
  docs/media/banner.png
  docs/media/banner.webp
  docs/media/icon_dark.svg
  docs/media/icon_light.svg
Labels: type/docs

#149 ci: :green_heart: Disable Docker image publishing on bot branches
  .github/workflows/build_and_publish_image.yml
Labels: type/ci
